# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Model files
#*.pt
#*.pth
#*.onnx
#*.tflite
#*.pb

# Video files
*.mp4
*.avi
*.mov
*.mkv

# Environment
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db 

# TensorRT cache
trt_cache*/

# Temporary copies/versions
*bck*
*_old.*

ciarpame/

models/*
!models/yolo11s.onnx
!models/yolo11m.onnx
!models/yolo11n.onnx
!models/depth_anything_v2_metric_indoor_small.onnx

check*.py
test*.py
/*tmp*