filterpy                # tested with ==1.4.5
numpy                   # tested with ==1.24.4
opencv_contrib_python   # tested with ==4.12.0.88
PyGObject               # tested with ==3.36.0
scipy                   # tested with ==1.16.2
# aravis (install from GH, follow documentation)
# onnxruntime/onnxruntime-gpu (follow documentation)
